---
---

@import "{{ site.theme }}";

/* Find source files at https://github.com/pages-themes/cayman/tree/master/_sass */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ccc;
  font-size: 14px;
  line-height: 1.6;
  background-color: #272727;
}

a {
  color: #00B3FF;
  
  &:hover {
    color: #D95800;
  }
}
